DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=1510223984392671302
DISCORD_GUILD_ID=1512181310633021681
DISCORD_AUTO_REGISTER_COMMANDS=true
NOWLY_API_BASE_URL=https://api.nowly.me
NOWLY_APP_BASE_URL=https://nowly.me
